
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 mb-4">
            <div class="card square-button-responsive text-white bg-phthalo-green">
                <a href="/ClientBooking">
                    <i class="fas fa-book mb-2"></i>
                    <p>Bookings</p>
                </a>
            </div>
        </div>
    </div>